# **Praktikum 2 : Pra Pengolahan Data - Seleksi Fitur**

**Langkah 0 - Load library**

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

**Langkah 1 - Load Data**

In [ ]:
dpath = 'Titanic-Dataset (1).csv'
df = pd.read_csv(dpath)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Langkah 2 - Pre Processing Encoding Sex**

**Langkah 3 - Verifikasi hasil encoding "sex"**

In [ ]:
# --- 2. Encoding fitur 'Sex' ---
df['Sex'] = df['Sex'].map({'male': 1, 'female': 0})
print("=== Hasil Setelah Encoding 'Sex' ===")
print(df[['Sex']].head(), "\n")

=== Hasil Setelah Encoding 'Sex' ===
   Sex
0    1
1    0
2    0
3    0
4    1

**Langkah 4- Pre Processing Encoding "Cabin"**

In [ ]:
# --- 3. Encoding fitur 'Cabin' ---
df['Cabin'] = df['Cabin'].fillna('Unknown')
print("=== Hasil Setelah Fill NaN pada 'Cabin' ===")
print(df[['Cabin']].head(5), "\n")
df['Cabin'] = df['Cabin'].apply(lambda x: x[0] if x != 'Unknown' else 'U')
print("=== Hasil Ambil huruf pertama 'Cabin' (Deck) ===")
print(df[['Cabin']].head(5), "\n")

=== Hasil Setelah Fill NaN pada 'Cabin' ===
     Cabin
0  Unknown
1      C85
2  Unknown
3     C123
4  Unknown

=== Hasil Ambil huruf pertama 'Cabin' (Deck) ===
  Cabin
0     U
1     C
2     U
3     C
4     U

**Langkah 5 - Pre Processing Imputasi Data**

**Langkah 6 - Verifikasi Hasil Imputasi Data**

In [ ]:
# --- 4. Standarisasi fitur 'Age' ---
df['Age'] = df[['Age']].fillna(df['Age'].median())
print("=== Hasil Setelah Imputasi Data pada Usia dengan median ===")
print(df[['Age']].head(10), "\n")

=== Hasil Setelah Imputasi Data pada Usia dengan median ===
    Age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0
5  28.0
6  54.0
7   2.0
8  27.0
9  14.0

**Langkah 7 - Pre Processing Standarisasi**

In [ ]:
scaler = StandardScaler()
df['Age'] = scaler.fit_transform(df[['Age']])
print("=== Hasil Setelah Standardisasi 'Age' ===")
print(df[['Age']].head(10), "\n")

=== Hasil Setelah Standardisasi 'Age' ===
        Age
0 -0.565736
1  0.663861
2 -0.258337
3  0.433312
4  0.433312
5 -0.104637
6  1.893459
7 -2.102733
8 -0.181487
9 -1.180535

**Langkah 8 - Hasil setelah Pre Processing**

In [ ]:
# --- 5. Cek hasil akhir ---
print("=== Hasil Preprocessing (5 baris pertama) ===")
#print(df[['Sex', 'Cabin', 'Age']].head(5))
df.head(100)

=== Hasil Preprocessing (5 baris pertama) ===

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,-0.565736,1,0,A/5 21171,7.2500,U,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,0.663861,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",0,-0.258337,0,0,STON/O2. 3101282,7.9250,U,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,0.433312,1,0,113803,53.1000,C,S
4,5,0,3,"Allen, Mr. William Henry",1,0.433312,0,0,373450,8.0500,U,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",1,-0.104637,0,0,374910,8.0500,U,S
96,97,0,1,"Goldschmidt, Mr. George B",1,3.199906,0,0,PC 17754,34.6542,A,C
97,98,1,1,"Greenfield, Mr. William Bertram",1,-0.488887,0,1,PC 17759,63.3583,D,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",0,0.356462,0,1,231919,23.0000,U,S
99,100,0,2,"Kantor, Mr. Sinai",1,0.356462,1,0,244367,26.0000,U,S

**Langkah 9 - Seleksi Fitur**

In [ ]:
df = df[['Survived', 'Pclass', 'Age', 'Sex', 'Cabin']]
df.head()

   Survived  Pclass       Age  Sex Cabin
0         0       3 -0.565736    1     U
1         1       1  0.663861    0     C
2         1       3 -0.258337    0     U
3         1       1  0.433312    0     C
4         0       3  0.433312    1     U